
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

@import '../sass/header.scss';
@import '../sass/jumbo.scss';
@import '../sass/banner.scss';
@import '../sass/footer.scss';

