.section{
    background-color: black;
    .prCont{
        position: relative;
        padding: 20px 0px;;
        .SerieCorrente{
            position: absolute;
            top: -38px;
            left: 0;


            button{
                background-color:blue;
                padding: 15px 10px;
                color: white;
                text-transform: uppercase;
                border: none;
                font-weight: bold;
            }
        }
    
    }


}

.contWrapper{

    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: white;

    .cardComics{
        width: 15%;
        flex-grow: 1;
    }
}


.contButton{
    text-align: center;
    padding: 10px 0px ;

    .btn-primary{
        padding: 10px 25px;
        background-color:blue;
        color: white;
        text-transform: uppercase;
        font-weight: bold;

    }
}
