.contLinkFooter{
    background:url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    height: 400px;
    padding:10px 0px;

    .ContBckImg{
        display: flex;
        background: url("/img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-position: right center;
        height:100%;
        // padding:20px 0px;
    }
}



.contFooter {
    background-color: rgb(62, 62, 62);
    padding: 15px 0px;

    .dflexFooter {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        button {
            padding: 15px 5px;
            text-transform: uppercase;
            border: 2px solid blue;
            background-color: rgb(62, 62, 62);
            color: white;
            font-weight: 700;
        }

        .contIconsFooter {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;

            ul {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            p {
                text-transform: uppercase;
                font-weight: 700;
                color: blue;
            }
        }
    }
}
