.contImg {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 0px;

    figure {
        align-self: center;
        max-width: 85px;
        min-width: 85px;
    }
}
.bckg-blu {
    background-color: blue;
    padding: 6px 0px;

    .dflex {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 35px;
        color: white;
        text-transform: uppercase;
    }
}

.ulHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    height: 109px;
   

    .liHeader{
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;

        .active{
            color: blue;
        }
    }
}

.liHeader:hover{
    border-top: 2px solid transparent;
    border-bottom: 2px solid blue;
    color: blue;

}
