.dflexInfocard{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    position: relative;

    .contThumb{
        position: absolute;
        top: -200px;
        left: 100px;
        width: 120px;
      
       
    }

    .firstSection{
        display: flex;
        gap: 35px;
        width: 86%;


        .contText{
            flex-grow: 1;
            padding: 10px 0px;
            max-width: 732px;;

            .titleComic{
                padding: 10px 0px ;
                font-size:34px;
                color: rgb(64, 64, 225);
                width:100%;
                
            }

            .avaible{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
                padding: 15px 0px;
                background-color:lightgreen;

                .priceAvaible{
                   padding: 0px 15px;
                   color:rgb(72, 71, 71);
                   font-size: 18px;


                   span{
                       font: weight 700px;
                       color: white;
                       font-size: 20px;
                   }
                }
                .infoAvaible{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 0px 10px;

                    .infoAv{
                        border-right: 1px solid gray;
                        padding-right: 10px;
                    }

                    .check{
                        color: white;
                        border: none;
                        background-color:lightgreen;
                    }
                }
            }
            
        }

        .advertisement{

            p{
                text-align: right;
            }
        }
    }
    .secondSection{
        display: flex;
        // align-items: center;
        gap: 15px;
        width: 86%;

        .contTalent{
            width: 55%;

        }
        .dFlexts{
            display: flex;
            flex-direction: column;
            // min-height:  100px;
            
        }

        .talentSpecs{
            padding:10px 0px;

        }

        .dflexAuthor{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            padding:10px 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            .listAuthor{
                font-weight: bold;
                text-align:right;
                width: 75%;
                color: rgb(64, 64, 225);
            }

        }
        .dflexWriteby{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            padding:10px 0px;
            border-bottom: 1px solid black;

            .listWriteby{
                text-align:right;
                width: 75%;
                color: rgb(64, 64, 225);
                font-weight: bold;
            }


        }
        .contSpecs{
            width: 45%;

            .contInfots{
                display: flex;
                flex-direction: column;
    
                .row{
                    padding: 8px 0px ;
                    border-top: 1px solid black;
                    display: flex;
                    flex-direction: row;

                    .titleRow{
                        width: 45%;
                    }

                    .titleSeries{
                        text-transform: uppercase;
                        color: blue;
                    }
                    
                    
                }

                .bB{
                    border-bottom: 1px solid black;
                }
            }
        }
        
    }
}

.bckSecondSection{
    background-color:rgb(240, 240, 240);
}