* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contImg {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.contImg figure {
  align-self: center;
  max-width: 85px;
  min-width: 85px;
}

.bckg-blu {
  background-color: blue;
  padding: 6px 0px;
}
.bckg-blu .dflex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  color: white;
  text-transform: uppercase;
}

.ulHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  height: 109px;
}
.ulHeader li {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

li:hover {
  border-top: 2px solid transparent;
  border-bottom: 2px solid blue;
  color: blue;
}

.jumbo {
  min-height: 350px;
  background-image: url("/img/jumbotron.jpg");
  background-position: top center;
  background-size: cover;
}

footer {
  background-color: rgb(62, 62, 62);
  padding: 15px 0px;
}
footer .dflexFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
footer .dflexFooter button {
  padding: 15px 5px;
  text-transform: uppercase;
  border: 2px solid blue;
  background-color: rgb(62, 62, 62);
  color: white;
  font-weight: 700;
}
footer .dflexFooter .contIconsFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
footer .dflexFooter .contIconsFooter ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .dflexFooter .contIconsFooter p {
  text-transform: uppercase;
  font-weight: 700;
  color: blue;
}