* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contImg {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.contImg figure {
  align-self: center;
  max-width: 85px;
  min-width: 85px;
}

.bckg-blu {
  background-color: blue;
  padding: 6px 0px;
}
.bckg-blu .dflex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  color: white;
  text-transform: uppercase;
}

.ulHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  height: 109px;
}
.ulHeader .liHeader {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.liHeader:hover {
  border-top: 2px solid transparent;
  border-bottom: 2px solid blue;
  color: blue;
}

.jumbo {
  min-height: 350px;
  background-image: url("/img/jumbotron.jpg");
  background-position: top center;
  background-size: cover;
}

.section {
  background-color: lightblue;
}

.contWrapper {
  border: 1px solid red;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contWrapper .cardComics {
  width: 15%;
  flex-grow: 1;
}

.contButton {
  text-align: center;
  padding: 10px 0px;
}
.contButton .btn-primary {
  padding: 10px 25px;
  background-color: blue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.dflexInfocard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  border: 1px solid green;
}
.dflexInfocard .contThumb {
  position: absolute;
  top: -200px;
  left: 100px;
  width: 120px;
}
.dflexInfocard .firstSection {
  display: flex;
  gap: 35px;
  width: 86%;
}
.dflexInfocard .firstSection .contText {
  flex-grow: 1;
  border: 1px solid violet;
  padding: 10px 0px;
  max-width: 732px;
}
.dflexInfocard .firstSection .contText .titleComic {
  padding: 10px 0px;
  font-size: 34px;
  color: rgb(64, 64, 225);
  width: 100%;
}
.dflexInfocard .firstSection .contText .avaible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 15px 0px;
  background-color: lightgreen;
}
.dflexInfocard .firstSection .contText .avaible .priceAvaible {
  padding: 0px 15px;
  color: rgb(72, 71, 71);
  font-size: 18px;
}
.dflexInfocard .firstSection .contText .avaible .priceAvaible span {
  font: weight 700px;
  color: white;
  font-size: 20px;
}
.dflexInfocard .firstSection .contText .avaible .infoAvaible {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 10px;
}
.dflexInfocard .firstSection .contText .avaible .infoAvaible .infoAv {
  border-right: 1px solid gray;
  padding-right: 10px;
}
.dflexInfocard .firstSection .contText .avaible .infoAvaible .check {
  color: white;
  border: none;
  background-color: lightgreen;
}
.dflexInfocard .firstSection .advertisement p {
  text-align: right;
}
.dflexInfocard .secondSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner {
  background-color: blue;
  padding: 10px 0px;
}

.navBanner {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contBanner {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}
.contBanner .imgBan {
  width: 90px;
  padding-right: 10px;
}

.contLinkFooter {
  background: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 0px;
}
.contLinkFooter .ContBckImg {
  display: flex;
  background: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
}
.contLinkFooter .ContBckImg .listFooter {
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  align-items: flex-start;
}
.contLinkFooter .ContBckImg .listFooter .title {
  font-weight: 800;
  margin: 10px 0;
  text-transform: uppercase;
  color: white;
}
.contLinkFooter .ContBckImg .listFooter .item-wrap {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 20px;
}
.contLinkFooter .ContBckImg .listFooter .itemLIst {
  color: #aaa;
  font-size: 12px;
  padding: 3px 0px;
}
.contLinkFooter ul {
  display: contents;
}

.contFooter {
  background-color: rgb(62, 62, 62);
  padding: 15px 0px;
}
.contFooter .dflexFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contFooter .dflexFooter button {
  padding: 15px 5px;
  text-transform: uppercase;
  border: 2px solid blue;
  background-color: rgb(62, 62, 62);
  color: white;
  font-weight: 700;
}
.contFooter .dflexFooter .contIconsFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.contFooter .dflexFooter .contIconsFooter ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contFooter .dflexFooter .contIconsFooter p {
  text-transform: uppercase;
  font-weight: 700;
  color: blue;
}