* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contImg {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.contImg figure {
  align-self: center;
  max-width: 85px;
  min-width: 85px;
}

.bckg-blu {
  background-color: blue;
  padding: 6px 0px;
}
.bckg-blu .dflex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  color: white;
}

.ulHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}